.liveVideoPlayer {
    position: relative;
    max-height: 79vh;
    max-width: 79vh;
    border-radius: 3px;
    margin: 0 auto;
    top: 20px;
    padding: 1px;
}

.liveVideoPlayer video {
    position: relative;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

.liveVideoPlayer img {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-height: 70vh;
    max-width: 100%;
}

.recording{
    background-color: red;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}