.ant-input {
    border-radius: 25px;
}
.ant-input-search {
    width: 25%;
    margin: 8px;
}
.app-header {
    padding: 0;
}

.trigger {
    font-size: 18px;
    padding: 0 14px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }